<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Explore</title>
  <link rel="stylesheet" href="css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<div class="container-fluid">
  <header><h1>Explore</h1></header>

  <form class="example" action="/explore">
    <input type="text" placeholder="Search.." name="search">
    <button type="submit"><i class="fa fa-search"></i></button>
  </form>



  <div class="btn-group" style="width:100%">
    <button style="width:50%">Trending</button>
    <button style="width:50%">Newest</button>
  </div>

  <div class="grid-container container" data-spy="scroll">
    {{#each ideas}}
    <div>
      <section  class="card">
        <a href="idea/{{id}}" class = "title">{{title}}</a>
        <p class = "bottom-left"> <i class="fas fa-flag-checkered"></i>{{tried}}<i class="fas fa-heart"></i>{{liked}}</p>
        <p class= "bottom-right">Provider:<a href="/user/{{name}}">{{name}}</a></p>
      </section>
    </div>
  {{/each}}
  </div>
  
  <!-- ziyue's bottom bar -->
  <!-- <div class="icon-bar">
  <a class="active" href="#"><i class="fa fa-lightbulb-o"></i></a> 
  <a href="#"><i class="fa fa-globe"></i></a>
    <a href="#"><i class="fa fa-user"></i></a>  --> 

  <!-- bottom bar -->
    <div class="icon-bar fixed-bottom">
    {{#each bottom-bar}}
    
      <a href="/{{name}}" ><i class="{{class}}"></i>
        <!-- <p>{{name}}</p> -->
      </a>
    
    {{/each}}

    <footer></footer>
    </div>
</div>

  
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="/js/explore.js"></script>
  <!-- <script src="/js/idea.js"></script>
  <script src="/js/user.js"></script> -->
  

</body>
</html>

