<!DOCTYPE html>
<html lang="en" >

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-93709601-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-93709601-3');
  </script>
  
  <meta charset="UTF-8">
  <title>Explore</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/explore2.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>

<div class="container-fluid">
  <!-- try use "card" in bootstrap here. -->

  <div class="top_menu_bar"><h1>Explore</h1>
    <a href="add_new_ideas"><i class="fas fa-plus fa-lg top_right_button"></i></a>
  </div>

  <div class="demo">
      {{#each ideas}}
      {{#ifvalue property desired="public"}}
      <div class="demo__card" id="{{id}}">
        <div class="demo__card__top {{color}}">
          <img class="card-img-top img-fluid" style="width:4em; display: block;margin-left: auto;margin-right: auto;"  src="/img/{{feeling}}.png" alt="Card image cap">
          <p class="demo__card__name capitalize">{{title}} {{id}}
            <br/>
            <a href="/surprise_list/feeling/{{idea.feeling}}"><span class="badge badge-primary">{{feeling}}</span></a>
                  <a href="/surprise_list/time/{{idea.time}}"><span class="badge badge-success">{{time}}</span></a>
                  <a href="/surprise_list/cost/{{idea.cost}}"><span class="badge badge-warning">{{cost}}</span></a>
          </p>
          

        </div>
        <div class="demo__card__btm">
          <p class="demo__card__we"><i class="fas fa-check"></i> {{tried}} tried</p>
        </div>
        <div class="demo__card__top {{color}}">
          <p class="demo__card__name">{{description}}</p>
        </div>
        <div class="demo__card__choice m--reject"></div>
        <div class="demo__card__choice m--like"></div>
        <div class="demo__card__drag"></div>
      </div>
      {{/ifvalue}}
      {{/each}}
</div>

    <nav class="icon-bar fixed-bottom">

    {{#each bottom-bar}}
    
      <a href="/{{name}}" ><i class="{{class}}"></i>
        <!-- <p>{{name}}</p> -->
      </a>
    
    {{/each}}
    </nav>




</div>

  
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="/js/explore2.js"></script>
  <!-- <script src="/js/idea.js"></script>
  <script src="/js/user.js"></script> -->
  

</body>
</html>

