<!DOCTYPE html>
<html lang="en" >

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-93709601-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-93709601-3');
  </script>
  
  <meta charset="UTF-8">
  <title>Explore</title>
  <link rel="stylesheet" href="/css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>

<div class="container-fluid">
  <!-- try use "card" in bootstrap here. -->

  <div class="top_menu_bar"><h1 style="font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
 font-weight: 100;">Explore</h1>
    <a href="add_new_ideas">
      <i class="fas fa-plus fa-lg top_right_button"></i>
    </a>
  </div>

  <!-- <nav class="navbar navbar-light bg-faded justify-content-between">
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="text" placeholder="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
  </nav> -->


  <!-- menu bar -->
  <!-- <div class="btn-group" style="width:100%">
    <button id="trending" style="width:50%">Trending</button>
    <button style="width:50%">Newest</button>
  </div> -->


  <ul class="nav nav-pills nav-justified nav-tabs" role="tablist" id="nav">
    <li class="nav-item">
      <a class="nav-link {{newestSection.class}}" id="newestSort" data-toggle="tab" href="#newest" role="tab" aria-controls="newest" aria-selected="{{newestSection.section}}">Newest</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{trendingSection.class}}" id="trendingSort" data-toggle="tab" href="#trending" role="tab" aria-controls="trending" aria-selected="{{trendingSection.section}}">Trending</a>
    </li>
  </ul>

<div>
  <div class="tab-content container" data-spy="scroll">

    <div class="tab-pane fade {{newestSection.class}}" id="newest" role="tabpanel" aria-labelledby="newestSort">
      <br />
      <div class="card-columns">
        <div class="row">
          {{#each ideas}}
            {{#ifvalue property desired="public"}}
            {{#ifvalue userTried desired="false"}} 
            {{#ifvalue myList desired="false"}} 
            <div class="col-sm-6" id="block-newest-{{id}}">
              <div class="card">
                <div class="card-body">
                <img class="card-img-top img-fluid" style="width:4em; display: block;margin-left: auto;margin-right: auto;"  src="/img/{{feeling}}.png" alt="Card image cap">
                <h5 class="card-title capitalize" style="text-align: center;"><a href="idea/{{id}}">{{title}}</a></h5>
              

                <!-- {{#ifvalue myList desired="true"}}              
                <a href="/add_to_my_list/explore/{{id}}" class=" top_right_button_card" ><i class="fas fa-minus fa-lg"></i></a> -->
                <!-- <a class=" top_right_button_card" ><i class="fas fa-minus fa-lg"></i></a> -->

                <!-- {{/ifvalue}} -->

                         
              <a href="/add_to_my_list/explore/{{id}}" class=" top_right_button_card" id="top_right_button_newest_{{id}}"><i class="fas fa-plus fa-lg"></i></a>
              <!-- <a class=" top_right_button_card" ><i class="fas fa-plus fa-lg"></i></a> -->

            

              <p class="card-text" style="text-align: center;">{{description}}
              <br />
              <br />
              <a href="/surprise_list/feeling/{{feeling}}"><span class="badge badge-primary">{{feeling}}</span></a>
              <a href="/surprise_list/time/{{time}}"><span class="badge badge-success">{{time}}</span></a>
              <a href="/surprise_list/cost/{{cost}}"><span class="badge badge-warning">{{cost}}</span></a>
              </p>

              
              <!-- <p class= "bottom-right">Provider:<a href="/user/{{name}}">{{name}}</a></p> -->
            </div>
            <div class="card-footer">
                  <small class="text-muted"><i class="fas fa-check"></i>  {{tried}} people tried this idea.</small>
            </div>
          </div>
         </div>
         {{/ifvalue}}
         {{/ifvalue}}
        {{/ifvalue}}
      {{/each}}
    </div>
    </div>
  </div>

  <div class="tab-pane fade {{trendingSection.class}}" id="trending" role="tabpanel" aria-labelledby="trendingSort">
     <br />
     <div class="card-columns">
    <div class="row">
    {{#each ideas2}}
        {{#ifvalue property desired="public"}}
        {{#ifvalue userTried desired="false"}} 
          <div class="col-sm-6" id="block-trending-{{id}}">
            <div  class="card">
              <div class="card-body">
              <img class="card-img-top img-fluid" style="width:4em; display: block;margin-left: auto;margin-right: auto;"  src="/img/{{feeling}}.png" alt="Card image cap">
              <h5 class="card-title capitalize" style="text-align: center;"><a href="idea/{{id}}" >{{title}}</a></h5>

              <!-- {{#ifvalue myList desired="true"}}              
              <a href="/add_to_my_list/explore/{{id}}" class=" top_right_button_card" ><i class="fas fa-minus fa-lg"></i></a> -->
              <!-- <a class=" top_right_button_card" ><i class="fas fa-minus fa-lg"></i></a> -->

              <!-- {{/ifvalue}} -->

                           
              <a href="/add_to_my_list/explore/{{id}}" class=" top_right_button_card" id="top_right_button_trending_{{id}}"><i class="fas fa-plus fa-lg"></i></a>
              <!-- <a class=" top_right_button_card" ><i class="fas fa-plus fa-lg"></i></a> -->

              
              <p class="card-text" style="text-align: center;">{{description}}
              <br />
              <br />
              <span class="badge badge-primary">{{feeling}}</span>
              <span class="badge badge-success">{{time}}</span>
              <span class="badge badge-warning">{{cost}}</span></p>
               
              <!-- <p class= "bottom-right">Provider:<a href="/user/{{name}}">{{name}}</a></p> -->
            </div>
            <div class="card-footer">
                  <small class="text-muted"><i class="fas fa-check"></i>  {{tried}} people tried this idea.</small>
            </div>
          </div>
        </div>
        {{/ifvalue}}
        {{/ifvalue}}
      {{/each}}
    </div>
    </div>
  </div>
</div>

  <div class="icon-bar fixed-bottom">

    {{#each bottom-bar}}
    
      <a href="/{{name}}" ><i class="{{class}}"></i>
        <!-- <p>{{name}}</p> -->
      </a>
    
    {{/each}}
    </div>

</div>
  
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="/js/explore.js"></script>
  <!-- <script src="/js/idea.js"></script>
  <script src="/js/user.js"></script> -->
  

</body>
</html>

