<!doctype html>

<html>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-93709601-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-93709601-3');
  </script>
  
	<meta charset="utf-8">
  <link rel="stylesheet" href="/css/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


<body>
	<div class="container-fluid" >
   <div class="top_menu_bar" >
    <a href="javascript:window.history.back()" ><i class="fas fa-chevron-circle-left fa-lg leftmost" style="color: white;"></i></a>
    <h2 style="font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
 font-weight: 100;">Idea Detail</h2>
    </div>
		
    <!-- style="text-align: center;" -->
		
        <div>
              

<div class="tab-content container" data-spy="scroll">
    <div class="tab-pane fade show active" id="newest" role="tabpanel" aria-labelledby="newestSort">
      <br />
        <div class="card-columns">
            <div class="row">
              <div class="col-sm-6">
                <div class="card" style="background-color: #82bdf1">
                  <div class="card-body">
                  <img class="card-img-top img-fluid" style="width:4em; display: block;margin-left: auto;margin-right: auto;"  src="/img/{{idea.feeling}}.png" alt="Card image cap">
                  <h5 class="card-title capitalize" style="text-align: center;">{{idea.title}}</a></h5>
                  

              
                  <p class="card-text" style="text-align: center;">{{idea.description}}
                  <br />
                  <br />
                  <a href="/surprise_list/feeling/{{idea.feeling}}"><span class="badge badge-primary">{{idea.feeling}}</span></a>
                  <a href="/surprise_list/time/{{idea.time}}"><span class="badge badge-success">{{idea.time}}</span></a>
                  <a href="/surprise_list/cost/{{idea.cost}}"><span class="badge badge-warning">{{idea.cost}}</span></a>


                  </p>


              
                    <!-- <p class= "bottom-right">Provider:<a href="/user/{{name}}">{{name}}</a></p> -->
                </div>
                  <div class="card-footer" style="background-color: white;">
                        <small class="text-muted"><i class="fas fa-check"></i>  {{idea.tried}} people tried this idea.</small>

                        {{#ifvalue idea.userTried desired="false"}}

                        <button href="#" class="btn btn-primary" id="tried-out-{{idea.id}}" data-toggle="modal" data-target="#reflection-tips-{{idea.id}}" >I tried it !</button>

                        {{/ifvalue}}
                  </div>
              </div>
          </div>
      </div>

      <h3 style="text-align: center;">
      Reflection
      <!-- add comment/reflection button -->
              <button href="#" class="btn btn-primary" id="tried-{{idea.id}}" data-toggle="modal" data-target="#reflection-{{idea.id}}" ><i class="fas fa-pencil-alt"></i><!-- Add reflections --></button>
      </h3>

      {{#ifvalue idea.userTried desired="true"}}
        <!-- pop up dialog -->
              <div class="modal fade" id="reflection-{{idea.id}}" tabindex="-1" role="dialog" aria-labelledby="reflectionLabel-{{idea.id}}" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">

                    <div class="modal-header">
                      <h5 class="modal-title" id="reflectionLabel-{{idea.id}}">New reflection</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>

                    <div class="modal-body">
                      <form role="form" method="get" action="/idea/tried/details/toTry/{{idea.id}}">
                        <!-- <div class="form-group">
                          <label for="recipient-name" class="col-form-label">Recipient:</label>
                          <input type="text" class="form-control" id="recipient-name">
                        </div> -->
                        <div class="form-group">
                          <label for="reflection" class="col-form-label">How did you feel trying this idea?</label>
                          <input type="text" class="form-control" placeholder="Write down some cool stories or feelings!" name="reflection"></input>
                        </div>

                        <!-- <div class="form-group">
                          <label for="property">Would you like to share your reflection to others?</label>
                          <select class="form-control" name="property" >
                            <option value="1">Yep!</option>
                            <option value="2">Nope...</option>
                          </select>
                        </div> -->

                        <fieldset class="form-group">
                          <div class="row">
                            <legend class="col-form-label col-sm-2 pt-0" style="font-size: 1em;">Would you like to share your reflection to others?</legend>
                            <div class="col-sm-10">
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="property" id="gridRadios1" value="public" checked>
                                <label class="form-check-label" for="gridRadios1">
                                  Yep!
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="property" id="gridRadios2" value="private">
                                <label class="form-check-label" for="gridRadios2">
                                  Nope...
                                </label>
                              </div>
                            </div>
                          </div>
                        </fieldset>


                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
                          <button type="submit" class="btn btn-primary">Continue</button>
                        </div>

                      </form>
                    </div>  <!-- end of form-->
                    
                  
                </div>
              </div>
            </div>
          </div>
              <!-- end of pop-up -->
      {{/ifvalue}}

      {{#ifvalue idea.userTried desired="false"}}
        <!-- Modal -->
        <div class="modal fade" id="reflection-{{idea.id}}" tabindex="-1" role="dialog" aria-labelledby="reflectionLabel-{{idea.id}}" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="reflectionLabel-{{idea.id}}">Oops...</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                You did not try this idea before! Cannot add reflections to it :-(
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                <button href="#" class="btn btn-primary" id="tried-{{idea.id}}" data-toggle="modal" data-target="#reflection-tips-{{idea.id}}" >I tried it !</button>
                <!-- <button type="button" class="btn btn-primary">I tried it !</button> -->

                
                    
                  
                </div>
              </div>
            </div>
          </div>
              <!-- end of pop-up -->

              <!-- this is when i did not try it and then click i tried it -->
              <!-- pop up dialog -->
              <div class="modal fade" id="reflection-tips-{{idea.id}}" tabindex="-1" role="dialog" aria-labelledby="reflectionLabel-tips-{{idea.id}}" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">

                    <div class="modal-header">
                      <h5 class="modal-title" id="reflectionLabel-tips-{{idea.id}}">New reflection</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>

                    <div class="modal-body">
                      <form role="form" method="get" action="/idea/tried/details/toTry/{{idea.id}}">
                        <!-- <div class="form-group">
                          <label for="recipient-name" class="col-form-label">Recipient:</label>
                          <input type="text" class="form-control" id="recipient-name">
                        </div> -->
                        <div class="form-group">
                          <label for="reflection" class="col-form-label">How did you feel trying this idea?</label>
                          <input type="text" class="form-control" placeholder="Write down some cool stories or feelings!" name="reflection"></input>
                        </div>

                        <!-- <div class="form-group">
                          <label for="property">Would you like to share your reflection to others?</label>
                          <select class="form-control" name="property" >
                            <option value="1">Yep!</option>
                            <option value="2">Nope...</option>
                          </select>
                        </div> -->

                        <fieldset class="form-group">
                          <div class="row">
                            <legend class="col-form-label col-sm-2 pt-0" style="font-size: 1em;">Would you like to share your reflection to others?</legend>
                            <div class="col-sm-10">
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="property" id="gridRadios1" value="public" checked>
                                <label class="form-check-label" for="gridRadios1">
                                  Yep!
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="property" id="gridRadios2" value="private">
                                <label class="form-check-label" for="gridRadios2">
                                  Nope...
                                </label>
                              </div>
                            </div>
                          </div>
                        </fieldset>


                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
                          <button type="submit" class="btn btn-primary">Continue</button>
                        </div>

                      </form>
                    </div>  <!-- end of form-->

              </div>
            </div>
          </div>
        </div>

      {{/ifvalue}}

          {{#each idea.notes}}
            {{#ifvalue property desired="public"}} 
            <div class="card" style="height:15%;background-color: #82bdf1; font-size: 1em;line-height: 0.8;">
              <br />
              
              <p style="text-align: left;font-size: 0.7em;">{{provider}} wrote:</p>
              <p style="text-align: center; font-size: 1em;"> {{reflection}}</p>
              <p style="text-align: left; font-size: 0.7em;">At {{date}}, {{time}}</p>

            </div>
            {{/ifvalue}}
          {{/each}}
  </div>

     <!--  <div class="tab-content container" data-spy="scroll">
        <div class="row">
          <div class="card">
            <div class="col-sm-6">
              <div class="card-body">
              <img class="card-img-top img-fluid" style="width:4em; display: block;margin-left: auto;margin-right: auto;"  src="/img/{{idea.feeling}}.png" alt="Card image cap">
              <h5 class="card-title" style="text-align: center;color: #428bca;">{{idea.title}}</a></h5>
              <p class="card-text" style="text-align: center;color: #428bca;">{{idea.feeling}}
              <br />
              <br />
              <span class="badge badge-primary">{{idea.feeling}}</span>
              <span class="badge badge-success">{{idea.time}}</span>
              <span class="badge badge-warning">{{idea.cost}}</span></p>
            </div>
          </div>
        </div>
        </div>
      </div> -->
        	<!-- <div class="content">
        		<div class="post main" style="height:20%;background: #ef5350;">
        			<p>{{idea.title}}</p>
        		</div>
              <span class="badge badge-primary" style="font-size: 1.5em;">{{idea.feeling}}</span>
              <span class="badge badge-success" style="font-size: 1.5em;">{{idea.time}}</span>
              <span class="badge badge-warning" style="font-size: 1.5em;">{{idea.cost}}</span>
        		
        		<div class="post sec" style="  line-height: 1.2;height:20%;background: #42a5f5;text-align: center;">
        			<br />
        			<p>{{idea.description}}</p>
        		</div>

        		{{#each idea.notes}}

        		{{#ifvalue property desired="public"}} 
        		<div class="post sec" style="height:15%;background: #d4e157; font-size: 1em;line-height: 0.8;">
              <br />
        			<p style="text-align: left;">{{provider}}</p>
        			<p style="text-align: left; font-size: 0.7em;">{{date}}</p>
        			<p style="text-align: left;"><i class="far fa-comments"></i>   {{reflection}}</p>
        		</div>
        		{{/ifvalue}}

        		{{/each}}

        	</div>

        	<div class="fabs">
			    <div class="fab"></div>
			    	<i class="avatar zmdi zmdi-account"></i>
			    	
			</div>


			<div class="user">
				<div class="main" style="width:100%;height:25%;"><p>{{idea.provider}}</p></div>
			    <div class="socials">
			      <div class="social"><i class="zmdi zmdi-twitter"></i></div>
			      <div class="social"><i class="zmdi zmdi-facebook"></i></div>
			      <div class="social"><i class="zmdi zmdi-instagram"></i></div>
			      <div class="social"><i class="zmdi zmdi-google"></i></div>
			    </div>
			    <div class="profiles">

			      <div class="profile"><span>51</span>To Do</div>
			      <div class="profile"><span>9</span>Tried</div>
			      <div class="profile"><span>2</span>Followers</div>
			      <div class="profile"><span>5</span>Following</div>
			    </div>
		   </div>

        </div> -->
		</div>
	</div>

        <div class="icon-bar fixed-bottom">

        {{#each bottom-bar}}
        
          <a href="/{{name}}" ><i class="{{class}}"></i>
            <!-- <p>{{name}}</p> -->
          </a>
        
        {{/each}}
        </div>

	
	<!-- <script src="https://code.jquery.com/jquery.js"></script> -->
	
	<!-- <script src="/js/bootstrap.min.js"></script> -->
	
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
    <script src="/js/idea.js"></script>
</body>
</html>