<!doctype html>

<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	
	<link href='http://fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="../css/idea.css"> 
</head>

<body>
	<div class="container-fluid" >

		<!-- friends' updates -->
		
        <div class="card">
            <a href="javascript:window.history.back()" class="btn btn-primary"><i class="fas fa-chevron-circle-left"></i></a>
            <a href="/explore" class="btn btn-primary"><i class="fas fa-globe"></i></a>
            <a href="/mylist" class="btn btn-primary"><i class="fas fa-file-alt"></i></a>
            <a href="#" class="btn btn-primary" id="thumbs-up"><i class="fas fa-thumbs-up"></i></a>

        	<!-- add comment/reflection button -->
              <button href="#" class="btn btn-primary" id="tried-{{idea.id}}" data-toggle="modal" data-target="#reflection-{{idea.id}}"><i class="fas fa-pencil-alt"></i>Add reflections</button>
              
              <!-- pop up dialog -->
              <div class="modal fade" id="reflection-{{idea.id}}" tabindex="-1" role="dialog" aria-labelledby="reflectionLabel-{{idea.id}}" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">

                    <div class="modal-header">
                      <h5 class="modal-title" id="reflectionLabel-{{idea.id}}">New reflection</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>

                    <div class="modal-body">
                      <form role="form" method="get" action="/idea/tried/details/{{idea.id}}">
                        <!-- <div class="form-group">
                          <label for="recipient-name" class="col-form-label">Recipient:</label>
                          <input type="text" class="form-control" id="recipient-name">
                        </div> -->
                        <div class="form-group">
                          <label for="reflection" class="col-form-label">How did you feel trying this idea?</label>
                          <input type="text" class="form-control" placeholder="Write down some cool stories or feelings!" name="reflection"></input>
                        </div>

                        <div class="form-group">
                          <label for="property">Would you like to share your reflection to others?</label>
                          <select class="form-control" name="property" >
                            <option value="1">Yep!</option>
                            <option value="2">Nope...</option>
                          </select>
                        </div>

                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
                          <button type="submit" class="btn btn-primary">Continue</button>
                        </div>

                      </form>
                    </div>
                    
                  </div>
                </div>
              </div>
              <!-- add comment/reflection button part -->

        	<div class="content">
        		<div class="post main" style="height:40%;background: #ef5350;">
        			<p>{{idea.title}}</p>
        		</div>
        		<div class="post sec" style="height:10%;">{{idea.feeling}}
        			<br /><i class="far fa-clock"></i> {{idea.time}},{{idea.cost}}
        			<br/>{{idea.tried}} tried, {{idea.liked}} liked.
        		</div>
        		
        		<div class="post main" style="height:25%;background: #42a5f5;">
        			<br />
        			<p>{{idea.description}}</p>
        		</div>

        		{{#each idea.notes}}

        		{{#ifvalue property desired="public"}} 
        		<div class="post sec" style="height:10%;background: #d4e157;"><i class="far fa-comments"></i>
        			<br />
        			<p style="text-align: center;">{{provider}}</p>
        			<br />
        			<p style="text-align: center;">{{date}}</p>
        			<br />
        			<p style="text-align: center;">{{reflection}}</p>
        		</div>
        		{{/ifvalue}}

        		{{/each}}

        	</div>

        	<div class="fabs">
			    <div class="fab"></div>
			    	<i class="avatar zmdi zmdi-account"></i>
			    	
			</div>


			<div class="user">
				<div class="main" style="width:100%;height:25%;"><p>{{idea.provider}}</p></div>
			    <div class="socials">
			      <div class="social"><i class="zmdi zmdi-twitter"></i></div>
			      <div class="social"><i class="zmdi zmdi-facebook"></i></div>
			      <div class="social"><i class="zmdi zmdi-instagram"></i></div>
			      <div class="social"><i class="zmdi zmdi-google"></i></div>
			    </div>
			    <div class="profiles">

			      <div class="profile"><span>51</span>To Do</div>
			      <div class="profile"><span>9</span>Tried</div>
			      <div class="profile"><span>2</span>Followers</div>
			      <div class="profile"><span>5</span>Following</div>
			    </div>
		   </div>

        </div>
		

		<footer></footer>
		</div>

	</div>

	
	<!-- <script src="https://code.jquery.com/jquery.js"></script> -->
	
	<!-- <script src="/js/bootstrap.min.js"></script> -->
	
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>

    <script src="/js/idea.js"></script>
</body>
</html>