

<!DOCTYPE html>
<html lang="en" >

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-93709601-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-93709601-3');
  </script>
  
  <meta charset="UTF-8">
  <title>My list</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/myListAnimation.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script>
    function postCallback(res){
    
    }
    var navCard = "{{navCard}}";
    $.post('/mylist/tried', {
      navCard: "",
      toTrySection: {
        "section": "true",
        "class": " show active "
      },
      triedSection: {
        "section": "false",
        "class": " "
      } 
      }, postCallback);
    navCard = "#"+navCard;
    console.log(navCard);
    window.location=navCard;
    
  </script>
<body>


<div class="container-fluid">
  <div class="top_menu_bar"><h2 style="font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
 font-weight: 100;">My List</h2>
    <a href="add_new_ideas"><i class="fas fa-plus fa-lg top_right_button"></i></a>
  </div>

  <!-- <div class="btn-group" style="width:100%">
    <button style="width:50%">Ideas to Try</button>
    <button style="width:50%">Tried it!</button>
  </div> -->
  <ul class="nav nav-pills nav-justified nav-tabs" role="tablist" id="nav">
    <li class="nav-item">
      <a class="nav-link {{toTrySection.class}}" id="toTryMenu" data-toggle="tab" href="#toTry" role="tab" aria-controls="toTry" aria-selected="{{toTrySection.section}}">To Try<span class="num badge">{{toTry}}</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{triedSection.class}}" id="TridMenu" data-toggle="tab" href="#tried" role="tab" aria-controls="tried" aria-selected="{{triedSection.section}}">Tried<span class="num badge">{{tried}}</span></a>
    </li>
  </ul>

<div>
  <div class="tab-content container" data-spy="scroll">

    <div class="tab-pane fade {{toTrySection.class}}" id="toTry" name="toTry" role="tabpanel" aria-labelledby="toTryMenu">
       <br />
      <div class="card-columns">
      <div class="row">
        {{#each ideas}}
          {{#ifvalue myList desired="true"}}
            {{#ifvalue userTried desired="false"}}
        <div class="col-sm-6">
          <div class="card myCard toTryCard" id="block-{{id}}">
            <div class="card-body" id="block-body-{{id}}">
              <img class="card-img-top img-fluid" style="width:4em; display: block;margin-left: auto;margin-right: auto;"  src="/img/{{feeling}}.png" alt="Card image cap">
              <h5 class="card-title capitalize" style="text-align: center;"><a href="/idea/{{id}}">{{title}}</a></h5>
              <p class="card-text" style="text-align: center;">{{description}}
              <br />
              <a href="/surprise_list/feeling/{{feeling}}"><span class="badge badge-primary">{{feeling}}</span></a>
              <a href="/surprise_list/time/{{time}}"><span class="badge badge-success">{{time}}</span></a>
              <a href="/surprise_list/cost/{{cost}}"><span class="badge badge-warning">{{cost}}</span></a>
              <br />
              <br />
              <button href="#" class="btn btn-primary tried" id="tried-{{id}}" data-toggle="modal" data-target="#reflectionModal-{{id}}" style="width: 10em; background-color: #428bca; border-color: #428bca">I tried it !</button></p>
              

            </div>
          </div>
        </div>

        <!-- pop up dialog -->
              <div class="modal fade" id="reflectionModal-{{id}}" tabindex="-1" role="dialog" aria-labelledby="reflectionModalLabel-{{id}}" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">

                    <div class="modal-header">
                      <h5 class="modal-title" id="reflectionModalLabel-{{id}}">New reflection</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>

                    <div class="modal-body">
                      <form role="form" method="get" action="/idea/tried/mylist/toTry/{{id}}">
                        <!-- <div class="form-group">
                          <label for="recipient-name" class="col-form-label">Recipient:</label>
                          <input type="text" class="form-control" id="recipient-name">
                        </div> -->
                        <div class="form-group">
                          <label for="reflection" class="col-form-label">How did you feel trying this idea?</label>
                          <input type="text" class="form-control" placeholder="Write down some cool stories or feelings!" name="reflection"></input>
                        </div>


                        <!-- <div class="form-group">
                          <label for="property">Would you like to share your reflection to others?</label>
                          <select class="form-control" name="property" >
                            <option value="1">Yep!</option>
                            <option value="2">Nope...</option>
                          </select>
                        </div> -->

                        <fieldset class="form-group">
                          <div class="row">
                            <legend class="col-form-label col-sm-2 pt-0" style="font-size: 1em;">Would you like to share your reflection to others?</legend>
                            <div class="col-sm-10">
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="property" id="gridRadios1" value="public" checked>
                                <label class="form-check-label" for="gridRadios1">
                                  Yep!
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="property" id="gridRadios2" value="private">
                                <label class="form-check-label" for="gridRadios2">
                                  Nope...
                                </label>
                              </div>
                            </div>
                          </div>
                        </fieldset>


                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
                          <button type="submit" class="btn btn-primary">Continue</button>
                        </div>

                      </form>
                    </div>  <!-- end of modal body   -->
                    
                  </div>
                </div>
              </div>
              <!-- end of pop up diaglog -->
        
            {{/ifvalue}}
          {{/ifvalue}}
        {{/each}}
      </div>
      </div>
  </div>

    

    <div class="tab-pane fade {{triedSection.class}}" id="tried" name="tried" role="tabpanel" aria-labelledby="triedMenu">
      <br />
      <div class="card-columns">
      <div class="row">
        {{#each ideas}}
          {{#ifvalue myList desired="true"}}
            {{#ifvalue userTried desired="true"}}
        <div class="col-sm-6">
          <div class="card myCard triedCard" id="card-{{id}}">
            <div class="card-body">
              <img class="card-img-top img-fluid" style="width:4em; display: block;margin-left: auto;margin-right: auto;"  src="/img/{{feeling}}.png" alt="Card image cap">
              <h5 class="card-title capitalize" style="text-align: center;"> <a href="/idea/{{id}}">{{title}}</a></h5>
              <p class="card-text" style="text-align: center;">{{description}}
              <br />
              <a href="/surprise_list/feeling/{{feeling}}"><span class="badge badge-primary">{{feeling}}</span></a>
              <a href="/surprise_list/time/{{time}}"><span class="badge badge-success">{{time}}</span></a>
              <a href="/surprise_list/cost/{{cost}}"><span class="badge badge-warning">{{cost}}</span></a>
              <br />
              <br />
              <!-- I tried it again button -->
              <button href="#" class="btn btn-primary tried" id="tried-{{id}}" data-toggle="modal" data-target="#reflectionModalAgain-{{id}}" style="width: 8em; background-color: #5cb85c; border-color: #5cb85c" >I tried it again!</button>
              <button class="btn btn-primary" data-toggle="collapse" href="#collapseExample_{{id}}" aria-expanded="false" aria-controls="collapseExample_{{id}}" style="width: 8em; background-color: #428bca;">Reflection</button>
              
              <div class="collapse" id="collapseExample_{{id}}">
                {{#each notes}}
                  {{#ifvalue provider desired="I"}}
                  <p style="text-align: left;font-size: 0.7em";>{{date}}, {{time}}</p>
                  <p style="text-align: center; font-weight: bold;">{{reflection}}</p>
                  {{/ifvalue}}
                {{/each}}
              </div>
              </p>
              
              
              

            </div>
          </div>
        </div>

        <!-- pop up dialog -->
              <div class="modal fade" id="reflectionModalAgain-{{id}}" tabindex="-1" role="dialog" aria-labelledby="reflectionModalAgainLabel-{{id}}" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">

                    <div class="modal-header">
                      <h5 class="modal-title" id="reflectionModalAgainLabel-{{id}}">New reflection</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>

                    <div class="modal-body">
                      <form role="form" method="get" action="/idea/tried/mylist/tried/{{id}}">
                        <!-- <div class="form-group">
                          <label for="recipient-name" class="col-form-label">Recipient:</label>
                          <input type="text" class="form-control" id="recipient-name">
                        </div> -->
                        <div class="form-group">
                          <label for="reflection" class="col-form-label">How did you feel trying this idea?</label>
                          <input type="text" class="form-control" placeholder="Write down some cool stories or feelings!" name="reflection"></input>
                        </div>

                        <!-- <div class="form-group">
                          <label for="property">Would you like to share your reflection to others?</label>
                          <select class="form-control" name="property" >
                            <option value="1">Yep!</option>
                            <option value="2">Nope...</option>
                          </select>
                        </div> -->

                        <fieldset class="form-group">
                          <div class="row">
                            <legend class="col-form-label col-sm-2 pt-0" style="font-size: 1em;">Would you like to share your reflection to others?</legend>
                            <div class="col-sm-10">
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="property" id="gridRadios1" value="public" checked>
                                <label class="form-check-label" for="gridRadios1">
                                  Yep!
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="property" id="gridRadios2" value="private">
                                <label class="form-check-label" for="gridRadios2">
                                  Nope...
                                </label>
                              </div>
                            </div>
                          </div>
                        </fieldset>
                        

                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
                          <button type="submit" class="btn btn-primary">Continue</button>
                        </div>

                      </form>
                    </div>
                    
                  </div>
                </div>
              </div>
              <!-- I tried it again button part -->


            {{/ifvalue}}
          {{/ifvalue}}
        {{/each}}
      </div>
      </div>
    </div>
  </div>
  
</div>
    
  
  
  <!-- bottom bar -->
    <div class="icon-bar fixed-bottom">
    {{#each bottom-bar}}
    
      <a href="/{{name}}" ><i class="{{class}}"></i>
        <!-- <p>{{name}}</p> -->
      </a>
    
    {{/each}}

    <footer></footer>
    </div>
</div>


  
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <!-- <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
  
  <script src="/js/mylist.js"></script>
  <!-- <script src="/js/explore.js"></script> -->
  <!-- <script src="/js/idea.js"></script>
  <script src="/js/user.js"></script> -->

</body>
</html>

