

<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>My list</title>
  <link rel="stylesheet" href="css/myListStyle.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<div class="container-fluid">
  <div class="top_menu_bar"><h1>My List</h1>
    <a href="add_new_ideas"><i class="fas fa-plus fa-lg top_right_button"></i></a>
  </div>

  <!-- <div class="btn-group" style="width:100%">
    <button style="width:50%">Ideas to Try</button>
    <button style="width:50%">Tried it!</button>
  </div> -->
  <ul class="nav nav-pills nav-justified nav-tabs" role="tablist" id="nav">
    <li class="nav-item">
      <a class="nav-link active" id="toTryMenu" data-toggle="tab" href="#toTry" role="tab" aria-controls="toTry" aria-selected="true">To Try</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="TridMenu" data-toggle="tab" href="#tried" role="tab" aria-controls="tried" aria-selected="false">Tried</a>
    </li>
  </ul>

<div>
  <div class="tab-content grid-container container" data-spy="scroll">

    <div class="tab-pane fade show active" id="toTry" role="tabpanel" aria-labelledby="toTryMenu">
      
      {{#each ideas}}
        {{#ifvalue userTried desired="false"}}
          <section>
            <div class='myCard'>
              <p class = 'hello'>{{title}}</p>
              <!-- <div class='info'>
                <p class="title"><i class="far fa-calendar-check"></i> Feb 13 2018</p>
                <p class='description'>{{description}}</p>
              </div> -->
            </div>
          </section>

        {{/ifvalue}}
      {{/each}}

  </div>

    

    <div class="tab-pane fade" id="tried" role="tabpanel" aria-labelledby="TridMenu">

      {{#each ideas}}
        {{#ifvalue userTried desired="true"}}
          <section>
            <div class='myCard'>
              <p class = 'hello'>{{title}}</p>
              <!-- <div class='info'>
                <p class="title"><i class="far fa-calendar-check"></i> Feb 13 2018</p>
                <p class='description'>{{description}}</p>
              </div> -->
            </div>
          </section>

        {{/ifvalue}}
      {{/each}}
    </div>
  </div>
  
</div>
    
  
  
  <!-- bottom bar -->
    <div class="icon-bar fixed-bottom">
    {{#each bottom-bar}}
    
      <a href="/{{name}}" ><i class="{{class}}"></i>
        <!-- <p>{{name}}</p> -->
      </a>
    
    {{/each}}

    <footer></footer>
    </div>
</div>

  
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="/js/mylist.js"></script>
  <script src="/js/explore.js"></script>
  <!-- <script src="/js/idea.js"></script>
  <script src="/js/user.js"></script> -->

</body>
</html>

