

<!DOCTYPE html>
<html lang="en" >

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-93709601-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-93709601-3');
  </script> -->
  
  <meta charset="UTF-8">
  <title>Surprise list</title>
  <link rel="stylesheet" href="/css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>


<div class="container-fluid">

  <div class="top_menu_bar"><h2 style="font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
 font-weight: 100;">Surprise List</h2>
    <!-- <a href="add_new_ideas"><i class="fas fa-plus fa-lg top_right_button"></i></a> -->
    <div >
    <a href="javascript:window.history.back()"><i class="fas fa-chevron-circle-left fa-lg leftmost" style="color: white;"></i></a>
  </div>
    
    <div>
    {{#each option}}
    <span class="badge {{class}}">{{name}}</span>
    {{/each}}
  </div>


  </div>

  

  <div class="card-columns">
     <br />
      <div class="row">
        {{#each all}}

            {{#ifvalue userTried desired="false"}}
            {{#ifvalue myList desired="false"}} 

        <div class="col-sm-6" id="block-newest-{{id}}">
          <div class="card" >
            <div class="card-body">
              <img class="card-img-top img-fluid" style="width:4em; display: block;margin-left: auto;margin-right: auto;"  src="/img/{{feeling}}.png" alt="Card image cap">
              <h5 class="card-title capitalize" style="text-align: center;"><a href="idea/{{id}}">{{title}}</a></h5>
              <p class="card-text" style="text-align: center;">{{description}}
              <br />
              <br />
              <a href="/surprise_list/feeling/{{feeling}}"><span class="badge badge-primary">{{feeling}}</span></a>
              <a href="/surprise_list/time/{{time}}"><span class="badge badge-success">{{time}}</span></a>
              <a href="/surprise_list/cost/{{cost}}"><span class="badge badge-warning">{{cost}}</span></a>
              </p>

              <!-- {{#ifvalue myList desired="true"}}              
              <a href="/add_to_my_list/surprise_list/{{id}}" class=" top_right_button_card" ><i class="fas fa-minus fa-lg"></i></a> -->
              <!-- <a class=" top_right_button_card" ><i class="fas fa-minus fa-lg"></i></a> -->

              <!-- {{/ifvalue}} -->

                           
              <a href="/add_to_my_list/surprise_list/{{id}}" class="top_right_button_card" id="top_right_button_newest_{{id}}"><i class="fas fa-plus fa-lg"></i></a>
              <!-- <a class=" top_right_button_card" ><i class="fas fa-plus fa-lg"></i></a> -->

             
              
            </div>
             <div class="card-footer">
                  <small class="text-muted"><i class="fas fa-check"></i>  {{tried}} people tried this idea.</small>
            </div>
          </div>
        </div>
        {{/ifvalue}}
            {{/ifvalue}}

        {{/each}}
      </div>
    </div>
  
  <!-- surprise me again -->
  <!-- <div class="fixed-second-bottom">
    <a href="/surprise"><i class="fas fa-sync-alt fa-lg"></i> Surprise Me Again ! </a>
  </div> -->
  
  <!-- bottom bar -->
    <div class="icon-bar fixed-bottom">
    {{#each bottom-bar}}
    
      <a href="/{{name}}" ><i class="{{class}}"></i>
        <!-- <p>{{name}}</p> -->
      </a>
    
    {{/each}}

    <footer></footer>
    </div>

</div>



  
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="/js/surprise_list.js"></script>
  <!-- <script src="/js/mylist.js"></script> -->
  <!-- <script src="/js/explore.js"></script> -->
  <!-- <script src="/js/idea.js"></script>
  <script src="/js/user.js"></script> -->

</body>
</html>

